.values {
    display: flex;
    flex-direction: column;
}

.values_margined {
    margin: 5.3rem 0;
}

@media (max-width: 767px) {
    .values {
        display: flex;
        align-items: center;
    }

    .values_margined {
        margin: 3rem auto 0;
    }
}

.values__content {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-top: 4.2rem;
}

@media (max-width: 767px) {
    .values__content {
        flex-direction: column;

        margin-top: 1.4rem;
    }
}

.values__text {
    display: flex;
    flex-direction: column;

    width: 40%;
    margin-left: 2.5rem;

    font-size: 1.6rem;
    color: #4F4F4F;
    line-height: 3rem;
}

@media (max-width: 767px) {
    .values__text {
        width: 95%;

        margin: 1.6rem auto 0;
    }
}

.values__button {
    margin-top: 2.9rem;
}

@media (max-width: 767px) {
    .values__button {
        margin: 2rem auto 0;
    }
}

.values__svg {
    position: relative;
    top: .2rem;

    margin-left: 1.6rem;
    max-width: 50%;
}

@media (max-width: 1024px) {
    .values__img {
        max-width: 60%;
    }

    .values__text-heeding {
        display: none;
    }
}

@media (max-width: 767px) {
    .values__img {
        max-width: 100%;
    }
}