.social {
    display: flex;
    flex-direction: row;
}

.social_margined {
    margin-top: 1.8rem;
}

@media (max-width: 767px) {
    .social_margined {
        margin-top: 2rem;
    }
}

.social__link {
    margin-right: 2rem;
}

.social__link:last-of-type {
    margin-right: 0;
}

@media (max-width: 767px) {
    .social__link {
        margin-right: 2.2rem;
    }
}