.popup {
    display: flex;
    flex-direction: column;

    position: relative;

    margin: auto;
    width: 60%;
    max-width: 90rem;
    z-index: 30;

    font-family: 'Open Sans', sans-serif;
}

.popup__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    background: #FFA740;

    text-align: center;
}

.popup__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background: white;
}

.popup__title {
    margin-top: 4rem;

    font-weight: 700;
    font-size: 3.2rem;
}

@media (max-width: 767px) {
    .popup__title {
        font-size: 2rem;
    }
}

.popup__text {
    margin-top: 1.4rem;
    margin-bottom: 4rem;
    width: 55%;

    line-height: 2.8rem;
    font-size: 1.4rem;
}

@media (max-width: 767px) {
    .popup__text {
        line-height: 2rem;
    }
}

.popup__link {
    margin-top: 4rem;
    margin-bottom: 3rem;

    color: #FFA740;
    font-weight: 700;
    font-size: 2rem;
}

@media (max-width: 1024px) {
    .popup__link {
        margin-top: 8rem;
    }
}

@media (max-width: 767px) {
    .popup__link {
        font-size: 1.4rem;
    }
}

.popup__form {
    display: flex;
    flex-direction: row;

    margin-top: 4rem;
    height: 6.5rem;
    width: 45%;
}

@media (max-width: 1024px) {
    .popup__form {
        flex-direction: column;

        width: 80%;
    }
}

.popup__cancel {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
}