.footer__contact {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .footer__contact {
        order: 1;

        margin-right: 5rem;
    }
}

@media (max-width: 767px) {
    .footer__contact {
        align-items: center;

        margin: auto;
    }
}

.footer__contact-link {
    display: flex;
    align-items: center;

    margin-bottom: 1.4rem;
    width: fit-content;

    color: white;
    text-decoration: none;
}

.footer__contact-link:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .footer__contact-link {
        margin-bottom: 1.6rem;
    }
}

.footer__contact-link-svg {
    margin-right: .7rem;
}
