.welcome-block__header {
    display: flex;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .welcome-block__header {
        width: 94%;
    }
}

@media (max-width: 767px) {
    .welcome-block__header {
        width: 96%;
    }
}

.welcome-block__logo {
    height: fit-content;
}

@media (max-width: 767px) {
    .welcome-block__logo {
        display: none;
    }
}

.welcome-block__page-nav {
    display: flex;
    flex-direction: row;

    margin-top: 4rem;
    height: fit-content;
}

@media (max-width: 767px) {
    .welcome-block__page-nav {
        display: none;
    }
}

.welcome-block__link {
    margin-right: 5.2rem;

    font-size: 1.4rem;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .welcome-block__link {
        margin-right: 2rem;
    }
}

.welcome-block__link:last-of-type {
    margin-right: 0;
}

.welcome-block__link_ellipse {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;

    background: #FFA740;
    border-radius: 50%;
}

.welcome-block__link_ellipse:last-of-type {
    margin-right: 0;
}

@media (max-width: 1024px) {
    .welcome-block__link_ellipse {
        margin-right: 1rem;
    }
}

@media (max-width: 767px) {
    .welcome-block__link_ellipse {
        width: 2.5rem;
        height: 2.5rem;
    }

    .welcome-block__svg {
        width: 1.1rem;
        height: 1.1rem;
    }
}

.welcome-block__page-nav_margined {
    margin-top: 3rem;
}

@media (max-width: 767px) {
    .welcome-block__page-nav_margined {
        display: inherit;
        margin-top: 2rem;
    }
}