.welcome-block {
    height: 65rem;

    background: url("/src/img/image_1.jpg");
    background-size: cover;
}

@media (max-width: 1024px) {
    .welcome-block {
        height: 35rem;
    }
}

@media (max-width: 767px) {
    .welcome-block {
        height: 21rem;
    }
}

.welcome-block__content {
    margin: 10rem auto;

    text-align: center;
    color: white;
}

@media (max-width: 1024px) {
    .welcome-block__content {
        margin: 2.9rem auto;
    }
}

@media (max-width: 767px) {
    .welcome-block__content {
        margin: 2.5rem auto 0;
    }
}

.welcome-block__subtitle {
    margin: 1.6rem auto 0;

    font-size: 2rem;
}

@media (max-width: 1024px) {
    .welcome-block__subtitle {
        margin: .6rem auto 0;

        font-size: 1.6rem;
    }
}

@media (max-width: 767px) {
    .welcome-block__subtitle {
        margin-top: .6rem;

        font-size: 1.4rem;
    }
}

.welcome-block__button {
    margin-top: 4.7rem;
}

@media (max-width: 1024px) {
    .welcome-block__button {
        margin-top: 2.4rem;
    }
}

@media (max-width: 767px) {
    .welcome-block__button {
        margin-top: 1.6rem;
    }
}

.drop-down-menu {
    display: none;

    margin-top: 2rem;
}

@media (max-width: 767px) {
    .drop-down-menu {
        display: inherit;
    }
}